<footer class="footer">
  <div
    class="
      container-social-sizing
      w-50
      mx-auto
      d-flex
      flex-column
      align-items-center
      justify-content-center
      text-center
    "
  >
    <p class="font-small font-weight-light">Created by &copy;Arismendi Elian</p>
    <div
      class="
        social-sizing
        w-25
        pb-2
        d-flex
        mx-auto
        mt-2
        justify-content-between
      "
    >
      <a
        class="text-info"
        target="_blank"
        href="https://www.linkedin.com/in/elian-arismendi/"
        >LinkedIn</a
      >
      <a class="text-info" target="_blank" href="https://github.com/ElianArism"
        >Github</a
      >
    </div>
  </div>
</footer>
